recursive-include interpretation/static *
recursive-include interpretation/templates *
recursive-include interpretation/locale *
include interpretation/language_map.yml
include LICENSE
include uv.lock
exclude .gitlab-ci.yml
exclude AGENTS.md
recursive-exclude .agents *
