{% load i18n bootstrap3 %}
<details class="interpretation-switch-account">
    <summary>{% trans "Switch SUSI account" %}</summary>
    <div class="interpretation-switch-account-body">
        {% bootstrap_field form.interpretation_base_url layout="vertical" show_help=False %}
        {% bootstrap_field form.susi_connect_email layout="vertical" show_help=False %}
        {% bootstrap_field form.susi_connect_password layout="vertical" show_help=False %}
        <button type="submit" name="interpretation_connect" value="1" class="btn btn-default">
            {% trans "Sign in with this account" %}
        </button>
    </div>
</details>
